{% extends 'layout.html' %}
{% from 'macros.html' import render_avatar, render_form %}
<style>
	.card-image {
		max-height:100%;
	}
</style>
{% block body %}
{% if form %}
{% if form.errors %}
<script>
	$(document).ready(function(){
          $('#post').modal('open');
        });
</script>
{% endif %}
{% endif %}
<div class='container white-text'>
	{% if user %}
		<div class="row">
			<h3 class="col s12">{{ render_avatar(user.id) }}{{ user.first_name }} {{ user.last_name }} ({{ user.username }})</h3>
		</div>
		<div class='row'>
			<p class='col s4'>Joined on {{ user.joined_at.strftime('%A, %B %d at %I:%M %p') }}</p>
			<p class='col s3'>Following: {{ user.relations.count() }}</p>
			<p class='col s3'>Followers: {{ user.relations_to.count() }}</p>
			{% if user != g.user._get_current_object() %}
				{% if user not in current_user.following() %}
					<a href="{{ url_for('follow', username=user.username) }}" class='col s12 m2 l2 btn blue waves-effect waves-light'>Follow</a>
				{% else %}
					<a href="{{ url_for('unfollow', username=user.username) }}" class='col s12 m2 l2 btn blue waves-effect waves-light'>Unfollow</a>
				{% endif %}
			{% endif %}
		</div>
		<div class="row">
			<p class="col s12">Bio: {{ user.bio }}</p>
		</div>
	{% endif %}
	{% if current_user.is_authenticated %}
		{% if posts %}
		<h2 class="white-text">Feed</h2>
		<div class="row">
			{% for post in posts %}
				<div class="col s12 m6 l4">
					<div class="card large">
						{% if post.image %}
						<div class="card-image">
							<a href="#modalimage{{ post.id }}"><img class="lazy materialboxed" height="150px" style="object-fit: cover;" data-src="/lazy/post/{{ post.id }}" /></a>
						</div>
						{% endif %}
						<div class="card-content black-text" style="overflow-y: auto; padding-bottom: 1.25em;">
							<span class="card-title">{{ render_avatar(post.user.id, '75') }}
								<a style="margin-left: 10px;" href="{{ url_for('user_view', username=post.user.username) }}" class="black-text">{{ post.user.username }}</a>
							</span>
							<p>{{ post.created_at.strftime('%A, %B %d at %I:%M %p') }}</p><br>
							<p>{{ post.data }}</p>
						</div>
						<div class="card-action valign-wrapper">
							<a class="waves-effect waves-light
							btn-floating secondary-content
							white btn-large tooltipped margin-right" data-position="bottom" data-delay="0"
						    data-tooltip="{{ post.comments.count() }}" href="#modalpost{{ post.id }}">
								<i class="material-icons black-text">comment</i></a>

							<a class="waves-effect waves-light
							btn-floating secondary-content
							white btn-small tooltipped margin-right" data-position="bottom" data-delay="0"
						    data-tooltip="{{ post.likes|count }}" href="/like/{{ post.id }}">
								<i class="material-icons black-text">thumb_up</i></a>

							<a class="waves-effect waves-light
							btn-floating secondary-content
							white btn-small tooltipped margin-right" data-position="bottom" data-delay="0"
						    data-tooltip="{{ post.dislikes|count }}" href="/dislike/{{ post.id }}">
								<i class="material-icons black-text">thumb_down</i></a>

						</div>
						<div id="modalpost{{ post.id }}" class="modal modal-fixed-footer">
							<div class="modal-content">
								<h4 class="black-text fixed"><i class="material-icons black-text">comment</i> Comments</h4>
								{% if post.comments %}
								<ul class="collection">
									{% for comment in post.comments %}
										<li class="collection-item avatar">
										  {{ render_avatar(comment.user.id, '50') }}
										  <a href="{{ url_for('user_view', username=comment.user.username) }}" class="title black-text">{{ comment.user.username }}</a>
											<p class="black-text"><b class="black-text">{{ comment.created_at.strftime('%A, %B %d at %I:%M %p') }}</b>: {{ comment.data }}</p>
										</li>
									{% endfor %}
								</ul>
								{% else %}
								<h6 class="black-text">No Comments</h6>
								{% endif %}
							</div>
							<div class="modal-footer">
								<a href="#!" style="margin-left: 10px;" class="modal-action modal-close waves-effect btn-flat">Close</a>
								<a class="waves-effect waves-light btn-floating secondary-content red btn" href="#modalpostcomment{{ post.id }}">
									<i class="material-icons">add</i></a>
							</div>
						</div>
<!-- 						{% if post.image %}
						<div id="modalimage{{ post.id }}" class="modal modal-fixed-footer">
							<div class="modal-content">
								<img width="100%" height="95%" style="object-fit: contain" src="/lazy/post/{{ post.id }}" class="lazy">
							</div>
							<div class="modal-footer">
								<a href="#!" class="modal-action modal-close waves-effect btn-flat">Close</a>
							</div>
						</div>
						{% endif %} -->
						<div id="modalpostcomment{{ post.id }}" class="modal">
							<div class="modal-content">
								<h4 class="black-text fixed"><i class="material-icons black-text">add</i> Add Comment</h4>
								<form action='/comment/{{ post.id }}' method='POST'>
									<div class="input-field black-text">
										<input type="text" placeholder='Comment' name='comment' id="comment" class="black-text" data-length="140">
										<label class="label-icon" for="comment"></label>
										<button class="btn waves-effect waves-light blue" type="submit" name="action">Submit</button>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<a href="#!" class="modal-action modal-close waves-effect btn-flat">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
		{% else %}
		<h3 class="white-text">Nothing here!</h3>
		{% endif %}
		{% if options %}
			<br>
			<br>
			<p class="white-text center">Currently showing 21 posts per page</p>
			<ul class="pagination center">
				<li class="{% if page == 1 %}disabled{% else %}waves-effect{% endif %}">
					<a {% if page == 1 %} # {% else %} href="/{{ page - 1 }}" {% endif %}>
					<i class="material-icons">chevron_left</i></a></li>
				<li class="active blue"><a href="#!">{{ page }}</a></li>
				{% if posts %}
				<li class="waves-effect">
					<a href="/{{ page + 1 }}">
					<i class="material-icons">chevron_right</i></a></li>
				{% else %}
				<li class="disabled">
					<a href="#">
					<i class="material-icons">chevron_right</i></a></li>
				{% endif %}
			</ul>
		{% endif %}
		{% if not user %}
		<div class="fixed-action-btn">
		<a href="#post" class="btn-floating btn-large red waves-effect waves-light">
		  <i class="material-icons large">mode_edit</i>
		</a>
		</div>
		{% endif %}
		<div id="post" class="modal modal-fixed-footer">
			<div class="modal-content black-text">
				<h4 class="black-text fixed"><i class="material-icons black-text">add</i> Add Post</h4>
				{{ render_form(form, 'Submit') }}
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-action modal-close waves-effect btn-flat">Cancel</a>
			</div>
		</div>
	{% else %}
	<div class="white-text">
		<h3>Thunder Dynamics Internal Communication (TDIC)</h3>
		<p>Notice: This site uses cookies to login the user.</p>
		<h4>Major notices and announcements: </h4>
		<ul>
			<li>NEW UI!</li>
			<li>Images in posts!</li>
		</ul>
	</div>
	{% endif %}
</div>
{% endblock %}
